$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: 'Russo One', sans-serif;

  //supposed to prevent showing the unstylized content, but doesn't work right?
  visibility: hidden;
}

input {
    text-align: center;
}

.main {
  text-align: center;
}

.main2{
  text-align: center;
  display: none;
}

.good {
  // border: 1px solid green;
  height: 450px;
  width: 50%;
  float: left;
  border-right: 2px solid black;
  text-align: center;
  align-items: center;
}

.bad {
  // border: 1px solid red;
  height: 450px;
  width: 50%;
  float: right;
  text-align: center;
}

.run {
  margin-top: 10px;
}

.char {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 7px;
  height: 125px;
  width: 70%;
  text-align: left;
  // color: green;
}

.good > .char {
  border: 2px solid green;
}

.bad > .char {
  border: 2px solid red;
}

.remove {
  float: right;
}

.copy {
  float: right;
}

.result {
  float: left;
}

.result-good {
  width: 25%;
  height: 125px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  border: 3px solid green;
  border-radius: 15px;
  background-color: #CCFFCC;
  font-size: 40px;
}

.result-bad {
  width: 25%;
  height: 125px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  border: 3px solid red;
  border-radius: 15px;
  background-color: #FFCCCC;
  font-size: 40px;
}

.back-button {
  margin-top: 10px;
  display: none;
  text-align: center;
}

.clear {
  clear: both;
  overflow: hidden;
}
